<section class="hero-content">
  <h1 class="hero-title">{{landing.heroTitle}}</h1>
</section>

<section class="selling-points conainer clearfix">
  <div class="point column third">
    <span class="ion-music-note"></span>
    <h5 class="point-title">Выберите свою музыку<h5>
        <p class="point-description">Мир полон музыки; Почему вы должны слушать музыку, которую выбрал кто-то другой?</p>
    </div>
    <div class="point column third">
      <span class="ion-radio-waves"></span>
<h5 class="point-title">Неограниченный, потоковый, без рекламы</h5>
<p class="point-description">Никаких произвольных ограничений. Никаких отвлечений.</p>
    </div>
    <div class="point column third">
<span class="ion-iphone"></span>
<h5 class="point-title">
Мобильный телефон включен</h5>
<p class="point-description">Слушайте музыку на ходу. Эта услуга потоковой передачи доступна на всех мобильных платформах.</p>
    </div>
  </section>
